{% extends 'base.html' %}

{% block title %}
{{ code }} 错误
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
<div class="column">
    <div class="ui attached message">
        <div class="header ui image">
            <img class="image" src="{{ url_for('static', filename='logo.ong') }}" alt="TeleChat 图标">
            <div class="content">
                <span class="telechat-text">TeleChat</span> - 错误 {{ code }}
            </div>
            <p>{{ description }}</p>
            <a href="{{ url_for('chat.home') }}" class="icon">返回主页</a>
        </div>
    </div>
</div>
</div>
{% endblock %}